/* ==UserStyle==
@name       theNextCuteVOZ
@namespace  idmresettrial
@version    2024.11.28.03
==/UserStyle== */

@-moz-document domain("voz.vn") {
    .block--messages .message ~ .message {
        margin-top: 10px !important;
    }
    
    :root {
        --xf-chromeBg: 0, 0%, 96%, 1;
        --xf-chromeTextColor: 0, 0%, 20%, 1;
        --xf-subNavTextColor: 0, 0%, 13%, 1;
        --xf-linkColor: 0, 0%, 0%, 1;
        --xf-textColor: 0, 0%, 0%, 1;
        --xf-contentBg: 0, 0%, 100%, 1;
        --xf-majorHeadingBg: 0, 0%, 96%, 1;
        --xf-majorHeadingTextColor: hsla(218.6,12.5%,22%, 1);
        --xf-publicHeaderAdjustColor: 0, 0%, 100%, 1;
        --borderColor: 210, 28.57%, 97.25%, 1;
    }
    
    :root, .message-body {
        font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    }
    
    .p-body {
        background: #ededed;
    }
    
    .is-unread .structItem-title {
        font-weight: 600;
    }
    .message-name {
        font-weight: 600;
    }
    .node--unread .node-title {
        font-weight: 600
    }
    .p-nav a {
        font-weight: 400;
    }

    #top,
    .p-navgroup, .p-nav-list .p-navEl.is-selected,
    .p-sectionLinks,
    .tabs--standalone,
    .reactionsBar, .reactionsBar .reactionSummary>li,
    .block-footer,
    .offCanvasMenu--nav .offCanvasMenu-linkHolder.is-selected,
    .menu-row.menu-row--alt, .menu-footer,
    .js-alertsMenuBody .alert.is-read,
    .message-cell.message-cell--action {
        background: #fff;
    }
    
    .js-alertsMenuBody .alert.is-recently-read {
        background: #ebebff;
    }
    
    .bbCodeBlock-expandLink {
        background: linear-gradient(to bottom, #ffffff00, #ffffff)
    }
    .bbCodeBlock-expandLink a {
        font-weight: 500;
    }
    .p-nav-list .p-navEl.is-selected a {
        font-weight: 700;
    }

    .p-sectionLinks {
        border: 1px solid hsla(var(--borderColor));
    }
    .message-cell.message-cell--user,
    .formRow > dt {
        background: hsla(0, 0%, 98%, 1)
    }
    .block-header, .menu-tabHeader, .menu-header,
    .block-filterBar {
        background: hsla(var(--xf-majorHeadingBg));
        background: hsla(0, 0%, 98%, 1)
    }
    a, .pairs>dt {
        color: hsla(var(--xf-linkColor));
    }
    .structItem-minor a {
        color: #606060;
    }
    .tabs--standalone {
        border: 1px solid hsla(var(--borderColor));
        color: hsla(var(--xf-linkColor));
    }
    .bbCodeBlock,
    .message-attribution,
    .reactionsBar {
        border-top: none;
        border-bottom: none;
        border-right: none;
    }
    .p-navSticky.is-sticky {
        box-shadow: unset;
        border: none;
        border-bottom: 1px solid hsla(var(--xf-borderColorLight));
    }

    .fr-box.fr-basic, .fr-box.fr-basic.is-focused,
    .input, .input:focus, .input.is-focused {
        background: #fff;
    }
    
    .node+.node, .block-header,
    .block-container, .block-filterBar,
    .message-cell.message-cell--user, .block--messages .message,
    .structItem,
    .pageNav-page:not(:first-child), .pageNav-jump,
    .pageNav-page:first-child {
        border: none !important;
    }

    .p-pageWrapper {
        margin-bottom: 0;
    }
    
    .message-userArrow {
        display: none;
    }

    blockquote.bbCodeBlock {
        border: none;
        border-radius: 10px;
        background: #f0f0f0;
    }
    .bbCodeBlock-title {
        border: none;
        background: none;
    }
    a.bbCodeBlock-sourceJump {
        font-weight: 500;
        color: #696969;
    }

    .p-header {
        display: none;
        background-color: hsla(var(--xf-textColor));
    }
    .p-nav {
        background-color: hsla(var(--xf-contentBg));
    }
    .p-nav-smallLogo {
        display: inline-block;
    }
    .p-nav-smallLogo img {
        background: no-repeat center/40px 40px url(https://voz.vn/styles/next/xenforo/voz-logo-og.png);
        width: 0px; height: 0px;
        padding-top: 40px; padding-left: 40px;
    }

    .pageNav-jump, .pageNav-page,
    .pageNavSimple,
    .pageNavSimple-el.pageNavSimple-el--prev, .pageNavSimple-el.pageNavSimple-el--next,
    .pageNavSimple-el.pageNavSimple-el--first,
    .pageNavSimple-el.pageNavSimple-el--last {
        color: #000;
        background: #fff;
    }
    .pageNavSimple-el {
        border: none;
    }
    .pageNav-page.pageNav-page--current,
    .pageNav-page.pageNav-page--current:hover, .pageNav-page.pageNav-page--current:active,
    .pageNavSimple-el.pageNavSimple-el--current,
    .pageNavSimple-el.pageNavSimple-el--current:hover, .pageNavSimple-el.pageNavSimple-el--current:active {
        color: #fff;
        background: #000;
    }
    .pageNav-jump:hover, .pageNav-jump:active {
        color: #000;
        background: #e3ecf7;
    }
    .block-outer .button, .block-outer a.button {
        border: none;
    }

@media (prefers-color-scheme: dark) {

}

    .block-outer.block-outer--after {
        padding-bottom: 8px !important;
    }
    .block-outer:not(.block-outer--after) .pageNavWrapper:not(.pageNavWrapper--forceShow) {
        display: block !important;
    }
    .block-outer-main {
        float: left !important;
    }
    .block-outer-main + .block-outer-opposite {
        float: right !important;
        margin-top: 0px !important;
    }

    .block-outer .button,
    .block-outer a.button {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .block-outer-opposite a[data-xf-click="scroll-to"] .button-text {
        display: none !important;
    }
    .block-outer-opposite a[data-xf-click="scroll-to"]:after {
        content: "Jump..." !important;
    }

    .offCanvasMenu {
        transition: none !important;
    }

    .message-signature {
        display: block !important;
    }

    .userBanner {
        border: none;
    }
    .userBanner.userBanner--starter {
        background: #f4deff;
    }
    .userBanner.userBanner--green {
        background: #606676;
    }

    .p-navgroup-link.p-navgroup-link--user {
        padding: 0px 4px;
    }
    .p-navgroup-link.p-navgroup-link--user .avatar {
        display: inline-block;
        box-sizing: border-box;
        width: auto;
        height: calc(1.5rem + 16px);
        padding-top: 1px; padding-bottom: 1px;
    }
    .p-navgroup-link.p-navgroup-link--user .p-navgroup-linkText {
        padding-top: 8px;
        padding-bottom: 8px;
        display: inline-block;
    }
    .has-js .p-nav-inner {
        min-height: unset !important;
    }

@media (max-width: 900px) {
    .p-navgroup-link.p-navgroup-link--user .p-navgroup-linkText {
        display: none;
    }
}

}

@-moz-document regexp("https://voz.vn/(?:f|t)/.+") {
    .p-body-sidebar,
    .p-body-sidebarCol {
        display: none !important;
    }
}

@-moz-document url-prefix("https://voz.vn/a/") {
@media (min-width: 1366px) {
    #header {
        display: none !important;
    }
    .p-nav-smallLogo {
        display: inline-block !important;
    }
    .p-sectionLinks.p-sectionLinks--empty {
        display: none !important;
    }

    .porta-article-item {
        display: inline-block;
        width: 32%;
        margin-right: 5px;
    }
    .porta-article-item .porta-article-date {
        margin-left: 0px;
    }

    .message-cell.message-main {
        position: relative;
    }
    .message-cell.message-main::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2em;
        background: linear-gradient(to bottom, #ebeced00 0%, #ebeced 100%);
    }

    .message-body {
        height: 350px;
        overflow: hidden;
        text-overflow: clip;
    }

}
}

@-moz-document url-prefix("https://voz.vn/search/") {
    .p-title-value {
        color: #888 !important;
    }
    .p-title-value a {
        color: #fff !important;
    }
}

@-moz-document url-prefix("https://voz.vn/u/") {
@media (min-width: 721px) {
    .p-body-inner {
        max-width: 69%;
    }
    .bbImageWrapper + br {
        display: none;
    }
    .bbImage {
        max-height: 69vh;
    }
}
}

@-moz-document domain("voz.vn") {
    .bbImageWrapper[data-fancybox] {
        display: inline-block;
    }
    .bbImageWrapper[data-fancybox]:has(+ .bbImageWrapper[data-fancybox]),
    .bbImageWrapper[data-fancybox]:has(+ br + .bbImageWrapper[data-fancybox]),
    .bbImageWrapper[data-fancybox]:has(+ br + br + .bbImageWrapper[data-fancybox])
    {
        padding-right: 5px;
    }
    .bbImageWrapper[data-fancybox] + br:has(+ .bbImageWrapper[data-fancybox]),
    .bbImageWrapper[data-fancybox] + br:has(+ br + .bbImageWrapper[data-fancybox]),
    .bbImageWrapper[data-fancybox] + br + br:has(+ .bbImageWrapper[data-fancybox]),
    a:has(> img) + br:has(+ a > img),
    a:has(> img) + br:has(+ br + a > img),
    a:has(> img) + br + br:has(+ a > img)
    {
        display: none;
    }

    .bbImage:not([style="width: 100px"]) {
        max-height: 250px !important;
        width: auto !important;
    }

}
